@model IEnumerable<Movie_Tracker.Models.Director>

@{
    ViewData["Title"] = "Index";
}

<h1>Directors</h1>

@if (signInManager.IsSignedIn(User) && User.IsInRole("Manager"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>    
}

<table class="table table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "Details", "Directors", new { Id = item.Id }, null )
            </td>
            <td>
                <img src="@Url.Content(item.Image)"/>
            </td>
            <td>
                @{
                    string parameterValue = item.Description.ToString().Substring(0, 150); 
                }
                @Html.DisplayFor(modelItem => parameterValue)
                @Html.ActionLink("... View more", "Details", "Directors", new { Id = item.Id }, null )
            </td>
            <td>
                @if (signInManager.IsSignedIn(User) && User.IsInRole("Manager")){
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> <br />
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> <br />
                }
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>

            </td>
        </tr>
}
    </tbody>
</table>
